html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
#header {
  display: flex;
  background-color: #006699;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: .45rem;
  font-weight: normal;
}
#header .right {
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
/* 中间主体区域的样式 */
#main {
  height: 100vh;
  padding: .45rem 0;
  position: relative;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
/* 底部区域 */
#footer {
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: orange;
}
/* 主体区域 */
#main {
  /* 导航栏区域 */
  /* 广告区域 */
  /* 品牌区域 */
}
#main a {
  display: block;
}
#main a img {
  width: 100%;
}
#main .nav {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
#main .banner {
  padding: 0 10px;
}
#main .banner .left a {
  display: flex;
}
#main .banner .left a img {
  width: 50%;
  height: 1.32rem;
}
#main .banner .right a img {
  width: 100%;
  height: 2.64rem;
}
#main .brand .tittle a {
  display: block;
}
#main .brand .tittle a img {
  width: 100%;
}
#main .brand .content a {
  display: flex;
}
#main .brand .content a img {
  width: 100%;
}
.brand,
.sport,
.woman,
.man {
  padding: .1rem;
}
